{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters%}

{% block content %}
    <h1>Registro de cliente</h1>
    
    <!-- Formulario de registro de cliente -->
    <form id="formulario-misdatos" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8">
              <!-- DATOS BASICOS: username, nombre, apellidos, correo y contraseñas -->
              {{ form_usuario|as_bootstrap_form:'help_text_visible=False' }}

              <!-- DATOS DE PERFIL: rut, dirección y subscrito  -->
              {{ form_perfil|as_bootstrap_form }}
      
            </div>
      
            <!-- AREA DE IMAGEN DE PERFIL -->
            <div class="text-center col-md-3">
              <div class="row">
                <!-- AREA DE CUADRO DE IMAGEN: Muestra la Imagen de perfil -->
                <div class="col-sm-12" style="height: 220px">
                  <img id="cuadro-imagen" src="{% static 'core/img/SeleccionarIMG.png' %}">
                  <!-- AREA DE BOTON DE SELECCIONAR IMAGEN: Reemplaza el botón "Seleccionar archivo" por otro con Bootstrap (VER COMENTARIO "BOTON IMAGEN" en script.js) -->
                  <button class="btn btn-primary" onclick="event.preventDefault(); document.getElementById('id_imagen').click();"> Seleccionar imagen </button>  
                </div>
              </div>
            </div>
      
          </div>
        </div>
    
        <!-- AREA DE BOTONES -->
        <div class="mt-2 mb-3 text-center">
          
          <button type="submit" class="btn btn-primary"> Actualizar </button>
          
          <!-- Boton para "Limpiar formulario" (VER COMENTARIO "BOTON LIMPIAR FORMULARIO" en script.js) -->
          <button type="reset" class="btn btn-primary" id="limpiar_formulario"> Limpiar </button>
    
        </div>
    
      </form>

{% endblock content %}
{% block scripts%}
    <script src="{% static 'core/js/validador.js' %}"></script>
    <script src="{% static 'core/js/scriptform.js' %}"></script>
    <script src="{% static 'core/js/usuarios.js' %}"></script>
{% endblock scripts%}